.vs/Studio_Project_3/v16/.suo
.vs/Studio_Project_3/v16/Browse.VC.db
.vs/Studio_Project_3/v16/Browse.VC.db-shm
.vs/Studio_Project_3/v16/Browse.VC.db-wal
.vs/Studio_Project_3/v16/Browse.VC.opendb
.vs/Studio_Project_3/v16/ipch/AutoPCH/14a9507eb0a2a048/MESHBUILDER.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/1853b18fea560d37/GAMEMANAGER.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/1912b1db1c8fa9fd/LEVELOFDETAILS.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/1b7dcfc16c388ac3/INVENTORYMANAGER.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/26a66ed6704d48f3/PLAYER2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/328f4d4b2cd04899/SCENE2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/3e43e70d38be542d/COLLISIONMANAGER.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/43c9d8ec7a08a7e4/GUI_SCENE2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/473836ec8027286/KEYBOARDCONTROLLER.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/540df14ba2670d61/PHYSICS2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/54b946243df31dda/SETTINGS.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/61762a565dc7a532/APPLICATION.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/68a442f70f7eca65/INVENTORYITEM.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/6b465ff21aa8d5f8/IMGUI_WIDGETS.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/820e75ec047d8023/ENTITY2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/884c87ec6c0cf672/COLLIDER.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/8c7a84cc978b67c6/IMGUI_DEMO.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/9cb63dee9da25835/PHYSICS2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/a20da793b2f87b80/SCENE2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/ae081db74b03f1b7/IMGUI_IMPL_GLFW.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/bb5900fc71d68972/MAP2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/bf1451d1f028c5c2/IMGUI.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/c8a6950bbc8f5005/SHADER.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/cdad06811b5e07b4/SCENE2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/cff97cc942ec54c1/STOPWATCH.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/f5d74d7d307ebcb1/SPRITEANIMATION.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/f7647e49925dd44f/MAIN.ipch
.vs/Studio_Project_3/v16/Solution.VC.db
.vs/Studio_Project_3/v16/Solution.VC.db-shm
.vs/Studio_Project_3/v16/Solution.VC.db-wal
App/Debug/App.Build.CppClean.log
App/Debug/App.exe.recipe
App/Debug/App.ilk
App/Debug/App.log
App/Debug/App.tlog/App.lastbuildstate
App/Debug/App.tlog/CL.command.1.tlog
App/Debug/App.tlog/CL.read.1.tlog
App/Debug/App.tlog/CL.write.1.tlog
App/Debug/App.tlog/link.command.1.tlog
App/Debug/App.tlog/link.read.1.tlog
App/Debug/App.tlog/link.write.1.tlog
App/Debug/App.vcxproj.FileListAbsolute.txt
App/Debug/Application.obj
App/Debug/GameManager.obj
App/Debug/GUI_Scene2D.obj
App/Debug/InventoryItem.obj
App/Debug/InventoryManager.obj
App/Debug/main.obj
App/Debug/Map2D.obj
App/Debug/Physics2D.obj
App/Debug/Player2D.obj
App/Debug/player2d.obj.enc
App/Debug/Scene2D.obj
App/Debug/vc142.idb
App/Debug/vc142.pdb
App/imgui.ini
App/Release/App.Build.CppClean.log
App/Release/App.exe.recipe
App/Release/App.log
App/Release/App.vcxproj.FileListAbsolute.txt
Debug/App.pdb
Debug/Library.idb
Debug/Library.lib
Debug/Library.pdb
Library/Debug/Collider.obj
Library/Debug/CollisionManager.obj
Library/Debug/Entity2D.obj
Library/Debug/Entity3D.obj
Library/Debug/FPSCounter.obj
Library/Debug/ImageLoader.obj
Library/Debug/imgui.obj
Library/Debug/imgui_demo.obj
Library/Debug/imgui_draw.obj
Library/Debug/imgui_impl_glfw.obj
Library/Debug/imgui_impl_opengl3.obj
Library/Debug/imgui_tables.obj
Library/Debug/imgui_widgets.obj
Library/Debug/KeyboardController.obj
Library/Debug/LevelOfDetails.obj
Library/Debug/Library.Build.CppClean.log
Library/Debug/Library.lib.recipe
Library/Debug/Library.log
Library/Debug/StopWatch.obj
Library/Debug/SpriteAnimation.obj
Library/Debug/ShaderManager.obj
Library/Debug/Settings.obj
Library/Debug/MouseController.obj
Library/Debug/MeshBuilder.obj
Library/Debug/Mesh.obj
Library/Debug/LoadOBJ.obj
Library/Debug/Library.vcxproj.FileListAbsolute.txt
Library/Debug/Library.tlog/Library.lastbuildstate
Library/Debug/Library.tlog/Lib.command.1.tlog
Library/Debug/Library.tlog/Lib-link.write.1.tlog
Library/Debug/Library.tlog/Lib-link.read.1.tlog
Library/Debug/Library.tlog/CL.write.1.tlog
Library/Debug/Library.tlog/CL.read.1.tlog
Library/Debug/Library.tlog/CL.command.1.tlog
Library/Release/Library.Build.CppClean.log
Library/Release/Library.lib.recipe
Library/Release/Library.log
Library/Release/Library.vcxproj.FileListAbsolute.txt
App/Debug/Player2D_V2.obj
.vs/Studio_Project_3/v16/ipch/AutoPCH/c34ce568872b12d2/PLAYER2D_V2.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/7f2fa8d266c8fd07/PLAYER2D_V2.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/9a4ac8781a50ca9c/OBJECT2D.ipch
.vs/Studio_Project_3/v16/ipch/AutoPCH/85dff033a53dcf15/OBJECT2D.ipch
App/Debug/App.tlog/unsuccessfulbuild
App/Debug/Object2D.obj
.vs/Studio_Project_3/v16/ipch/AutoPCH/c43f4d867da4d8c2/ENTITY3D.ipch
App/Debug/scene2d.obj.enc
App/Debug/player2d_v2.obj.enc
.vs/Studio_Project_3/v16/ipch/AutoPCH/68ce690848069334/SPRITEANIMATION.ipch
*.ipch
*.obj
App/Debug/App.tlog/link.52880-cvtres.read.1.tlog
App/Debug/App.tlog/link.52880-cvtres.write.1.tlog
App/Debug/App.tlog/link.52880-rc.read.1.tlog
App/Debug/App.tlog/link.52880-rc.write.1.tlog
App/Debug/App.tlog/link.52880.read.1.tlog
App/Debug/App.tlog/link.52880.write.1.tlog
App/Debug/menustate.obj.enc
App/Debug/pausestate.obj.enc
App/Debug/soundcontroller.obj.enc
App/Debug/menustate.obj.enc
App/Debug/pausestate.obj.enc
App/Debug/soundcontroller.obj.enc
App/Debug/menustate.obj.enc
App/Debug/pausestate.obj.enc
App/Debug/soundcontroller.obj.enc
